<aside class="container my-5 border rounded-3 g-0">
	<div class=" d-flex flex-column justify-content-center border rounded-3 m-3">
		<h3>Inscription Défi</h3>
		<div class="row-fluid">
			idstagiaire
		</div>
		<div class="row-fluid">date création</div>
		<h3>Rémunération</h3>
		<div class="row">
			<div class="col-6">PE</div>
			<div class="col-6">ASP</div>
		</div>
		<div class="row-fluid">date dossier ASP</div>
	</div>
</aside>
