{% extends 'form.html.twig' %}

{% block form %}
<section class="row justify-content-center p-2 rounded-4 my-3">
    <div class="col-3 border border-bottom-0 border-top-0 m-3">
        <h1>{{ name }}</h1>
        {% include "_trait/_" %}
    </div>
</section>
{% endblock %}